<section class="page-section mb-0 pt-5 pb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <img src="{{ url_for('static', filename='resume/assets/img/faces.png') }}" alt="Cat Face Detector Logo" style="width: 300px; height: 284px;" />
            </div>

            <div class="col-lg-8 col-md-12 pt-3">
                <h2>Cat Face Detector</h2>
                <p>Cat Face Detector is an Artificial Intelligence-based facial recognition learning model trained to detect pictures of my cats.</p>
                <p>You can upload a picture to the model, and it will tell you if it thinks there is one of my cats in the photo, and which cat it is.
                It may take a minute or two to load, because it is hosted on a free platform, but the proof of concept is fun to play with!</p>
                <h5><a href="https://mybinder.org/v2/gh/TrialAndErrror/ai_colab/HEAD?urlpath=%2Fvoila%2Frender%2FMurrs-voila.ipynb" target="_blank">View on Binder</a></h5>
            </div>
        </div>
    </div>
</section>