{% extends 'portfolio/base/resume_base.html' %}

{% block title %}<title>Trial and Errror: Projects</title>{% endblock %}

{% block body %}
    {% include 'portfolio/portfolio/port_title.html' %}

    {% include 'portfolio/portfolio/youtube.html' %}

    {% include 'portfolio/portfolio/face_detector.html' %}

    {% include 'portfolio/portfolio/assistant.html' %}

    {% include 'portfolio/portfolio/fetcher.html' %}

    {% include 'portfolio/portfolio/port_past_title.html' %}

    {% include 'portfolio/portfolio/past_projects.html' %}

{% endblock %}
