
<section class="page-section pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <img src="{{ url_for('static', filename='resume/assets/img/tne.png') }}" alt="Trial and Errror Youtube logo" style="max-width: 300px; max-height: 300px;" />
            </div>
            <div class="col-lg-8 col-md-12 pt-3">
                <h2>Trial and Errror YouTube</h2>
                <p>Trial and Errror YouTube is your source for all of our latest video content. We produce videos to educate technology users of all skill levels and help them to solve their problems.</p>
                <p>If you're curious about new technology, or you want to learn more about the hardware and software you already use, head on over and check us out!</p>
                <h5><a href="https://www.youtube.com/channel/UC4APdOhgNwwThdVJUFWDfxA" target="_blank">Visit Trial and Errror on YouTube</a></h5>
            </div>
        </div>
    </div>
</section>