{% extends 'resume/base/resume_base.html' %}

{% block body %}
    <section class="page-section bg-primary md-12 mb-0 pb-5">
        <div class="container">
            <!-- Contact Heading -->
            <div class="row justify-content-center">
                <h2 class="page-section-heading text-secondary d-inline-block mb-0">Contact</h2>
            </div>

            <!-- Icon Divider-->
            {% include 'resume/base/star_divider.html'%}
        </div>
    </section>

    <section class="page-section mb-0" style="padding-top: 4%;">     
        <div class="container">
            <!-- Contact Section Content-->
            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <div class="d-flex flex-column align-items-center">
                        <div class="icon-contact mb-3"><i class="far fa-envelope"></i></div>
                        <div class="text-muted">Email</div><a class="lead font-weight-bold" href="mailto:Coding@TrialAndErrror.com">Coding@TrialAndErrror.com</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
            

        </div>
{% endblock %}