{% extends 'portfolio/base/resume_base.html' %}
{% load static %}

{% block body %}
    <section class="page-section bg-primary md-12 mb-0 pb-5">
        <div class="container">
            <!-- Contact Heading -->
            <div class="row justify-content-center">
                <h2 class="page-section-heading text-secondary d-inline-block mb-0">Error!</h2>
                <h4>:(</h4>
            </div>

            <!-- Icon Divider-->
            {% include 'portfolio/base/star_divider.html'%}
        </div>
    </section>

    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            <h1>An error occurred!</h1>
            <p>{{ error_message }}</p>
            <p>{{ try_link }}</p>
        </div>
    </section>
{% endblock %}