<section class="page-section mb-0 pt-5 pb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 pt-3">
                <h2>Assistant</h2>
                <p>Trial and Errror Assistant is a voice-activated interface that allows you to quickly and efficiently access the information and media across the web.</p>
                <p>You can use it to help play your favorite media, look up information, and other everyday tasks!</p>
                <h5><a href="https://github.com/TrialAndErrror/TnE_Assistant" target="_blank">View on Github</a></h5>
            </div>
            <div class="col-lg-4 col-md-12">
                <img src="{{ url_for('static', filename='resume/assets/img/assistant.png') }}" alt="Assistant Logo" style="width: 300px; height: 284px;" />
            </div>
        </div>
    </div>
</section>