
<section class="page-section pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <img src="{{ url_for('static', filename='resume/assets/img/fetcher.png') }}" alt="Fetcher Logo" style="max-width: 300px; max-height: 300px;" />
            </div>
            <div class="col-lg-8 col-md-12 pt-3">
                <h2>Fetcher</h2>
                <p>Fetcher is a script created to enable local viewing of YouTube videos. It includes error handling, code documentation, and logging. The purpose of Fetcher is to demonstrate the principles of clean code while also providing a useful tool.</p>
                <p>If you want to watch videos without an internet connection, or watch high-quality videos with a slow internet connection, this tool may be helpful for you!</p>
                <h5><a href="https://github.com/TrialAndErrror/Fetcher" target="_blank">View on Github</a></h5>
            </div>
        </div>
    </div>
</section>