<section class="page-section portfolio" id="portfolio">
    <div class="container">

        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
            <!-- Portfolio Items-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal0">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white">Adopt Chester</div>
                    </div>

                    <img class="img-fluid" src="{{ url_for('static', filename='resume/assets/img/chester.png') }}" alt="Adopt Chester"/>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white">Oborug Obstacles</div>
                    </div><img class="img-fluid" src="{{ url_for('static', filename='resume/assets/img/oborug.png') }}" alt="Oberug Obstacles"/>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white">Whelming West</div>
                    </div><img class="img-fluid" src="{{ url_for('static', filename='resume/assets/img/ww.png') }}" alt="Whelming West"/>
                </div>
            </div>
        </div>

{#        Removed this subheading#}
{#<div class="text-center" style="padding-bottom: 3%;">#}
{#            <h2>YouTube Channels</h2>#}
{#        </div>#}


        <div class="row justify-content-center">

            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal4">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white">Coding @ Trial and Errror</div>
                    </div><img class="img-fluid" src="{{ url_for('static', filename='resume/assets/img/tne.png') }}" alt="Coding @ Trial and Errror"/>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal5">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white">Green Room Gaming</div>
                    </div><img class="img-fluid" src="{{ url_for('static', filename='resume/assets/img/green.png') }}" alt="Green Room Gaming"/>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="portfolio-modal modal fade" id="portfolioModal0" tabindex="-1" role="dialog" aria-labelledby="#portfolioModal0Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times"></i></span></button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary mb-0">Adopt Chester</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <a href="http:\\www.sites.google.com/view/AdoptChesterToday" target="_blank">
                                <img class="img-fluid rounded mb-5"
                                     src="{{ url_for('static', filename='resume/assets/img/chester.png') }}"
                                     alt="Adopt Chester Today"/>
                            </a>
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-5">
                                Adopt Chester was a project designed to find a Forever Home for our neighborhood friend, Chester.
                                He came to us with an injured paw, and we agreed to foster him through the Humane Rescue Alliance. We attempted to find his original owner, but were unsuccessful.
                                We became his foster parents and it came time to advertise him, so I decided to put together a quick site to show how pretty and playful he was.
                                Within 1 day, we had 2 responses to our Craigslist post linking to the website, and within a week, Chester had finally found his Forever home and was off to start his new life!
                                </p>
                            <p class="mb-5">
                                Feel free to visit
                                <a href="http:\\www.sites.google.com/view/AdoptChesterToday"> Adopt Chester Today! </a>
                                if you want to see how pretty he was, or if you're interested in an example
                                of a pet advertisement website.
                            </p>
                            <button class="btn btn-primary" href="#" data-dismiss="modal">
                                <i class="fas fa-times fa-fw"></i>Close Window</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-labelledby="#portfolioModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times"></i></span></button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary mb-0">Oborug Obstacles</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <a href="https://sites.google.com/view/oborug-obstacles" target="_blank">
                                <img class="img-fluid rounded mb-5"
                                     src="{{ url_for('static', filename='resume/assets/img/oborug.png') }}"
                                     alt="Oborug Obstacles"/>
                            </a>
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-5">Oborug Obstacles was a page that was created to keep track of the Map and Custom Rulings in the "Oborug Obstacles" Dungeons and Dragons campaign, run by me with a group of friends.
                            Although the gaming group ended up disbanding shortly after due to time commitment issues, the site remains as an example of a way to centralize information and assets for distribution to a group or team.
                            </p>
                            <p class="mb-5">Check out <a href="https://sites.google.com/view/oborug-obstacles">Oborug Obstacles</a> if you want to see the map that we had explored so far, or if you're curious about setting up static information sites.</p>

                            <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Close Window</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-labelledby="#portfolioModal2Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times"></i></span></button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary mb-0">Whelming Web</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                                <img class="img-fluid rounded mb-5"
                                     src="{{ url_for('static', filename='resume/assets/img/ww.png') }}"
                                     alt="Whelming Web"/>
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-5">Whelming Web is a website for The Whelming West, a new card game being developed. As part of the game design, I have created various tools to assist our process.
                                Whelming Web is a combination of:</p>
                            <ul>
                                <li>Flask database website hosted on Heroku for keeping track of card designs and game history;</li>
                                <li>PyQt5 applications for card design, game setup, and game testing; and</li>
                                <li>Asset-generation software for automated creation of cards (including TableTop Simulator compatibility!)</li>
                            </ul>
                            <p>Stay tuned for announcements on public beta testing and development progress!</p>

                            <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Close Window</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-labelledby="#portfolioModal4Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times"></i></span></button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary mb-0">Coding @ Trial and Errror</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <a href="https://www.youtube.com/channel/UC4APdOhgNwwThdVJUFWDfxA" target="_blank">
                            <img class="img-fluid rounded mb-5"
                                 src="{{ url_for('static', filename='resume/assets/img/tne.png') }}"
                                 alt="Coding @ Trial and Errror"/>
                            </a>
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-5">Coding @ Trial and Errror is the YouTube channel where I upload code explanations, technology overviews, and answer computer-related questions.
                            Currently, there are only a few projects on there, but I am working on creating new projects that can be uploaded and discussed.
                            Feel free to check out the BlackJack tutorial, or the Money Manager tutorial, to learn a bit about Python!</p>
                            <p class="mb-5">Check out <a href="https://www.youtube.com/channel/UC4APdOhgNwwThdVJUFWDfxA">Trial and Errror @ YouTube</a> to see our latest content and connect with our social media to get new updates!</p>
                            <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Close Window</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-labelledby="#portfolioModal5Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times"></i></span></button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary mb-0">Green Room Gaming</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <a href="https://www.youtube.com/user/simplywade" target="_blank">
                                <img class="img-fluid rounded mb-5"
                                     src="{{ url_for('static', filename='resume/assets/img/green.png') }}"
                                     alt="Submarine"/>
                            </a>
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-5">
                                Green Room Gaming is a Youtube and Twitch-based Gaming Content Channel.
                                Many of the videos are old, from when I used to livestream and record more,
                                but I do upload new clips of games that I am playing when I get the chance.
                                You should be able to find a recent League Montage or Single-Player Game Highlight reel,
                                but if you want more, feel free to say hi!</p>
                            <p class="mb-5">
                                Check out
                                <a href="https://www.youtube.com/user/simplywade">
                                    Green Room Gaming
                                </a>
                                to see our latest videos!
                            </p>
                            <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Close Window</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>