<section class="page-section mb-0 pt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <a href="https://github.com/TrialAndErrror/Fetcher">
                    <img src="{{ url_for('static', filename='resume/assets/img/fetcher.png') }}" alt="Fetcher Logo" style="max-width: 300px; max-height: 300px;" />
                </a>
            </div>
            <div class="col-lg-8 col-md-12 pt-3">
                <h2>Fetcher</h2>
                <p>Fetcher is a script created to enable local viewing of YouTube videos. It uses try blocks for custom error handling and logging. My goal was to create a project that exhibits the principles of clean code while also providing a useful tool.</p>
                <p>If you want to watch videos without an internet connection, or watch high-quality videos with a slow internet connection, this tool may be helpful for you!</p>
                <p>Check out the source code over on <a href="https://github.com/TrialAndErrror/Fetcher" target="_blank">GitHub</a>.</p>
            </div>
        </div>
    </div>
</section>