{% extends 'resume/base/resume_base.html' %}
{% load static %}

{% block body %}
    <header class="masthead bg-primary text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <img class="masthead-avatar mb-5" src="{% static 'resume/wade.jpg' %}" alt="Wade Green">
                <!-- Masthead Heading-->
                <h1 class="masthead-heading mb-0">Wade Green</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="pre-wrap masthead-subheading font-weight-light mb-0">Legal Education</p>
                <p class="pre-wrap masthead-subheading font-weight-light mb-0">Web Development</p>
                <p class="pre-wrap masthead-subheading font-weight-light mb-0">Content Creation</p>
            </div>
        </header>
        <section class="page-section portfolio" id="portfolio">
            <div class="container">

    {% for item in entries %}
        <div>
        <p>{{ item.entry_category }}</p>
        <p>{{ item.institution }}</p>
        <p>{{ item.institution_location }}</p>
        <p>{{ item.start_date }}</p>
        <p>{{ item.end_date }}</p>

        <p>{{ item.desc_line1 }}</p>
        {% if item.desc_line2 %}
            <p>{{ item.desc_line2 }}</p>
        {% endif %}
        {% if item.desc_line3 %}
            <p>{{ item.desc_line3 }}</p>
        {% endif %}
        {% if item.desc_line4 %}
            <p>{{ item.desc_line4 }}</p>
        {% endif %}

        {% if item.info %}
            <p>{{ item.info }}</p>
        {% endif %}
        </div>
    {% endfor %}
{% endblock %}