<header class="masthead bg-primary text-center">
    <div class="container d-flex align-items-center flex-column">

        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5"
             src="{{ url_for('static', filename='resume/assets/img/logo proto 3.png') }}"
             alt="Trial and Errror's Mascot, Rattifur Kensington"
        >
        <!-- Masthead Heading-->
        <h1 class="masthead-heading mb-0">Trial and Errror</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="pre-wrap masthead-subheading font-weight-light mb-0">Python Development</p>
        <p class="pre-wrap masthead-subheading font-weight-light mb-0">Web Design</p>
        <p class="pre-wrap masthead-subheading font-weight-light mb-0">Educational Videos</p>

    </div>
</header>
